# @see https://github.com/paperless-ngx/paperless-ngx
#
# SQLite is used as the database. The SQLite file is stored in the data volume.
#
# - Run 'docker compose pull'.
# - Run 'docker compose up -d'.

services:
  
  broker:
    image: docker.io/library/redis:8
    restart: unless-stopped
    volumes:
      - redisdata:/data
  
  webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    restart: unless-stopped
    depends_on:
      - broker
      - gotenberg
      - tika
    ports:
      - 3010:8000
    volumes:
      - paperless_data:/usr/src/paperless/data
      - paperless_media:/usr/src/paperless/media
      - paperless_export:/usr/src/paperless/export
      - paperless_consume:/usr/src/paperless/consume
    env_file: docker-compose.env
    environment:
      PAPERLESS_REDIS: redis://broker:6379
      PAPERLESS_TIKA_ENABLED: 1
      PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://gotenberg:3000
      PAPERLESS_TIKA_ENDPOINT: http://tika:9998
  
  gotenberg:
    image: docker.io/gotenberg/gotenberg:8.20
    restart: unless-stopped
    # The gotenberg chromium route is used to convert .eml files. We do not
    # want to allow external content like tracking pixels or even javascript.
    command:
      - "gotenberg"
      - "--chromium-disable-javascript=true"
      - "--chromium-allow-list=file:///tmp/.*"
  
  tika:
    image: docker.io/apache/tika:latest
    restart: unless-stopped

volumes:
  data:
  media:
  redisdata:
  paperless_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/mnt/storage/Paperless/db/data"
  paperless_media:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/mnt/storage/Paperless/db/media"
  paperless_export:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/mnt/storage/Paperless/export"
  paperless_consume:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/mnt/storage/Paperless/consume"
